body, html {
  height: 100%;
  margin: 0;
  font-family: 'Dancing Script', cursive;
  color: #DCCD9A;
}


.bg {
  background-image: url("img/ladybugtakenbyMe.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper div{
  margin: 0 auto;
}

.wrapper{
  margin: 0 auto;
  position: absolute;
  width: 100%;
  text-align: center;
}
/*
.imgcenterhor{
    background-image:url("img/ReinaAndMe.png");
    width:150px;
    border-radius:50%;
    border:5px solid #FFFF;
    box-shadow:0 0 10px #000​0;
    background-size: cover;
    vertical-align: middle;
    }*/
.imgcenterhor
{
    display: table-cell;
    height: 155px;
    vertical-align: middle;
}

.imgcenter{
  border-radius: 50%;
  width: 150px;
  border: 5px solid #FFFF;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footerc{
  margin: 0 auto;
  background: #5B5741;
}

p{
  margin: 0 auto;
}
