body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("img/pexels-dids-7450561.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.personalimgc{
    background-image:url("img/ReinaAndMe.jpg");
    width:50%;
    border-radius:50%;
    border:5px solid #FFFF;
    box-shadow:0 0 10px #000​;
  }

  .personalimgc:after{
    content:"";
    padding-bottom:100%;
    display:block;
  }

img{
  border-radius: 50%;
  width: 300px;
  border: 5px solid #FFFF;
}
