body, html {
  height: 100%;
  margin: 0;
  font-family: 'Dancing Script', cursive;
  color: #EBECBB;
}


.bg {
  background-image: url("img/pexels-dids-7450561.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper{
  margin: 0 auto;
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
}

.personalimgc{
    background-image:url("img/ReinaAndMe.png");
    width:150px;
    border-radius:50%;
    border:5px solid #FFFF;
    box-shadow:0 0 10px #000​0;
    background-size: cover;
  /*  vertical-align: middle; */

  }

  .personalimgc:after{
    content:"";
    padding-bottom:100%;
    display:block;
  }

img{
  border-radius: 50%;
  width: 300px;
  border: 5px solid #FFFF;
}
